<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>catch-catch</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.12</string>
	<key>CFBundleVersion</key>
	<string>12</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSInputMonitoringUsageDescription</key>
	<string>catch-catch needs to monitor keyboard input to animate the cat when you type.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/HongChaeMin/catch-catch/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Pgsvbs0/PZYFoiKje+iJ1QBAlkcpI8AKwina15/6v80=</string>
</dict>
</plist>
